
.color_princ1{
	background: #2BB6D4;
}
.col_princ1{
	color: #2BB6D4;
}
.color_princ2{
	background:#C4C4C4;
}

.color_princ3
{
	background:#E5E5E5;
}

.mhp100pp
{
	height:70vw;
}

.hp100px
{
	height: 100px;
}

.active
{
	color:text;
	background-color:white;
}